@import "tailwindcss";

@theme {
  --color-primary: #1A73E8;
  --color-secondary: #34D399;
  --color-dark: #111827;
  --color-light: #F3F4F6;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --shadow-card: 0 4px 20px rgba(0, 0, 0, 0.1);
}
